//- 模板
mixin s(header,caption)
    h2.ts.header.dividing=header
        .sub.header=caption
    .ts.four.doubling.cards
        block
mixin card(header,description,link,icon)
    a.ts.card(href=link)
        .content
            .header=header
            .description=description
        .symbol
            i(class="icon "+icon)
doctype html
html
    head
        title 新番情報
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        include Jade/_tocasui.jade
        include Jade/_tags.jade
        +social_tags('新番情報','最齊全的新番情報','https://gnehs.github.io/Anime-List/2017.07/og.png','https://gnehs.github.io/Anime-List/')
    body
        #top.ts.basic.menu.top.attached.borderless.horizontally.scrollable
            .ts.container
                .right.menu
                    a.item(href='https://github.com/gnehs/Anime-List') GitHub
        // 標題
        .ts.slate.huge
            .header 新番情報
            .description 選擇季度
        br
        br
        .ts.container
            +s('2018/4 月冬番','人生好難')
                +card('介紹','圖文介紹','2018.04/index.html','newspaper')
                +card('日程表','以表格展示新番日程','2018.04/schedule.html','table')
                +card('瀑布流','一個美觀的展示用頁面','2018.04/waterfall.html','cube')
            +s('2018/1 月冬番','搞到快累死')
                +card('介紹','圖文介紹','2018.01/index.html','newspaper')
                +card('日程表','以表格展示新番日程','2018.01/schedule.html','table')
                +card('瀑布流','一個美觀的展示用頁面','2018.01/waterfall.html','cube')
            +s('2017/10 月秋番','滿滿的第二季')
                +card('介紹','圖文介紹','2017.10/index.html','newspaper')
                +card('日程表','以表格展示新番日程','2017.10/schedule.html','table')
                +card('瀑布流','一個美觀的展示用頁面','2017.10/waterfall.html','cube')
            +s('2017/07 月夏番','應該資料沒漏掉吧，大概......')
                +card('介紹','圖文介紹','2017.07/index.html','newspaper')
                +card('日程表','以表格展示新番日程','2017.07/schedule.html','table')
            br
            br
        
        include _footer.pug